.instruction {
  max-width: 48ch;
  font-size: var(--fs--xs);
  opacity: 60%;
}

.instruction p + p {
  margin-top: 0.75rem;
}

@media (min-width: 48rem) {
  .instruction {
    max-width: 32ch;
  }
}
