.checkbox {
  display: block;
  box-sizing: content-box;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: hsl(var(--clr--white));
  cursor: pointer;
  overflow: hidden;
  transition-property: background-color, border-color;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

.true {
  background-color: hsl(var(--clr--dots--100));
  border-color: hsl(var(--clr--dots--100));
}

.false {
  background-color: hsl(var(--clr--emf--100));
  border-color: hsl(var(--clr--emf--100));
}

.disabled {
  background-color: hsl(var(--clr--orbs--100));
  border-color: hsl(var(--clr--orbs--100));
  cursor: not-allowed;
}
