.block {
  display: grid;
  row-gap: 0.25rem;
  column-gap: 0.75rem;
}

.hasSubtitle {
  grid-template-rows: repeat(2, auto);
}

.hasAfter {
  grid-template-columns: 1fr auto;
}

.after {
  align-self: center;
  grid-row: 1 / -1;
  grid-column: 2 / -1;
}

.noGap {
  row-gap: 0;
}

.gutterBottom {
  margin-bottom: 1.75rem;
}
