:root {
  --clr--white: 0 0% 100%;
  --clr--slate--900: 227 9% 14%;
  --clr--slate--700: 227 8% 20%;
  --clr--dots--100: 112 62% 90%;
  --clr--dots--700: 112 82% 17%;
  --clr--emf--100: 360 62% 90%;
  --clr--emf--700: 360 82% 17%;
  --clr--fingerprints--100: 162 62% 90%;
  --clr--fingerprints--700: 162 82% 17%;
  --clr--freezing--100: 223 62% 90%;
  --clr--freezing--700: 223 82% 17%;
  --clr--orbs--100: 0 0% 90%;
  --clr--orbs--700: 0 0% 17%;
  --clr--writing--100: 46 62% 90%;
  --clr--writing--700: 46 81% 25%;
  --clr--box--100: 288 61% 90%;
  --clr--box--700: 288 82% 17%;
  --fs--sm: 0.875rem;
  --fs--md: 1rem;
  --fs--lg: 1.125rem;
  --shadow--lg: 25px 50px 62.9px -2.5px rgba(9, 9, 12, 0.34),
    17px 33.9px 42.7px -2.1px rgba(9, 9, 12, 0.34),
    11.2px 22.3px 28.1px -1.8px rgba(9, 9, 12, 0.34),
    7.1px 14.3px 18px -1.4px rgba(9, 9, 12, 0.34),
    4.5px 8.9px 11.2px -1.1px rgba(9, 9, 12, 0.34),
    2.7px 5.4px 6.8px -0.7px rgba(9, 9, 12, 0.34),
    1.5px 2.9px 3.7px -0.4px rgba(9, 9, 12, 0.34),
    0.3px 0.5px 0.7px rgba(9, 9, 12, 0.34);
  --transition--duration--fast: 200ms;
  --transition--duration--normal: 400ms;
  --transition--timing--quick: cubic-bezier(0, 0.55, 0.45, 1);
}

*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100%;
}

html {
  background-color: hsl(var(--clr--slate--900));
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: var(--fs--md);
  line-height: 1.6;
  color: hsl(var(--clr--white));
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

.subtitle {
  font-size: var(--fs--lg);
  font-weight: 700;
  line-height: 1.2;
}

.button-reset {
  display: inline-flex;
  align-items: center;
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
