.main {
  display: grid;
  gap: 3rem;
  width: 100%;
  max-width: 32rem;
  height: 100%;
  margin-inline: auto;
  margin-inline: auto;
  padding: 3rem 1.5rem 4rem;
}

@media (min-width: 62rem) {
  .main {
    grid-template-rows: minmax(0, 100%);
    grid-auto-flow: column;
    justify-content: center;
    align-items: start;
  }

  .evidence {
    width: 20rem;
    max-height: 100%;
    overflow: auto;
  }

  .ghosts {
    width: 30rem;
    max-height: 100%;
    display: grid;
    grid-template-rows: auto auto minmax(0, 1fr);
  }
}
