.card {
  width: 100%;
  border-radius: 8px;
  box-shadow: var(--shadow--lg);
  background-color: hsl(var(--clr--slate--700));
  color: hsl(var(--clr--white));
  padding: 2rem;
}

@media (min-width: 48rem) {
  .sm {
    max-width: 20rem;
  }

  .md {
    max-width: 30rem;
  }

  .sticky {
    position: sticky;
    top: 3rem;
  }
}
