.section {
  display: grid;
  gap: 1.5rem;
  height: max-content;
  padding: 2rem;
  border-radius: 8px;
  background-color: hsl(var(--clr--slate--700));
  box-shadow: var(--shadow--lg);
}

.instruction {
  margin-top: 1rem;
  max-width: 26ch;
  font-size: var(--fs--sm);
  opacity: 60%;
}
