.tag {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.125rem 0.5rem;
  border-radius: 2px;
  font-size: var(--fs--sm);
  white-space: nowrap;
}

.special::before {
  --size: 0.25rem;

  content: '';
  display: inline-block;
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  background-color: currentColor;
}

.sm {
  font-size: var(--fs--xs);
}

.dots {
  color: hsl(var(--clr--dots--700));
  background-color: hsl(var(--clr--dots--100));
}

.emf {
  color: hsl(var(--clr--emf--700));
  background-color: hsl(var(--clr--emf--100));
}

.fingerprints {
  color: hsl(var(--clr--fingerprints--700));
  background-color: hsl(var(--clr--fingerprints--100));
}

.freezing {
  color: hsl(var(--clr--freezing--700));
  background-color: hsl(var(--clr--freezing--100));
}

.orbs {
  color: hsl(var(--clr--orbs--700));
  background-color: hsl(var(--clr--orbs--100));
}

.writing {
  color: hsl(var(--clr--writing--700));
  background-color: hsl(var(--clr--writing--100));
}

.box {
  color: hsl(var(--clr--box--700));
  background-color: hsl(var(--clr--box--100));
}

.success {
  color: hsl(var(--clr--dots--700));
  background-color: hsl(var(--clr--dots--100));
}

.danger {
  color: hsl(var(--clr--emf--700));
  background-color: hsl(var(--clr--emf--100));
}
