.layout {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 1.5rem 3rem;
}

@media (min-width: 48rem) {
  .layout {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-inline: auto;
    flex-wrap: wrap;
  }
}
