.button {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0;
  border-radius: 2px;
  outline-width: 0px;
  outline-style: solid;
  outline-color: transparent;

  transition-property: outline-width, outline-color, background-color;
  transition-duration: var(--transition--duration--fast);
  transition-timing-function: var(--transition--ease--quick);
}

.button:focus,
.button:hover {
  outline-width: 0.5rem;
  outline-color: hsl(var(--clr--slate--900));
  background-color: hsl(var(--clr--slate--900));
}

.label {
  font-size: var(--fs--sm);
}

.label + * {
  margin-top: -2px;
}

.text {
  display: grid;
  text-align: left;
}

.button[disabled] {
  cursor: not-allowed;
  opacity: 60%;
  outline-width: 0 !important;
  background-color: transparent !important;
}
