.checkbox {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 4px;
  border: 2px solid hsl(var(--clr--white));
  cursor: pointer;
}

.checked {
  color: hsl(var(--clr--dots--700));
  background-color: hsl(var(--clr--dots--100));
  border-width: 0;
}

.disabled {
  color: hsl(var(--clr--emf--700));
  background-color: hsl(var(--clr--emf--100));
  border-width: 0;
}

.locked {
  color: hsl(var(--clr--orbs--700));
  background-color: hsl(var(--clr--orbs--100));
  border-width: 0;
  cursor: not-allowed;
}
